@font-face {
    font-family: "Press Start 2P";
    src: url(./assets/fonts/PressStart2P-Regular.ttf);
}

html,
body {
    touch-action: manipulation;
    background-color: hsl(0, 0%, 90%);
}

.header {
    background-color: hsl(0, 0%, 90%);
    position: sticky;
    height: auto;
    top: 0;
    margin-bottom: 4px;
    align-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 24px;
    gap: 12px;
}

.logo-icon {
    height: 60px;
    cursor: pointer;
}

.logo-icon-bottom {
    height: 60px;
    cursor: pointer;
}

.logo-text {
    color: #404040;
    font-size: 30px;
    cursor: pointer;
}

.input-div {
    margin-bottom: 12px;
}

input {
    padding: 5px 15px;
    font-size: 2rem;
    border: 2px solid hsl(0, 100%, 61%);
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.836);
    transition: all 0.3s ease;
}

input:focus {
    border-color: hsl(0, 100%, 61%);
    transform: scale(1.05);
    outline: none;
}

input::placeholder {
    color: hsla(0, 0%, 13%, 0.573);
}

.main {
    background-color: hsl(0, 0%, 100%);
    min-height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.show-more-btn {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: "Press start 2P";
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(240, 240, 240);
    font-size: 16px;
    max-width: 1440px;
    margin: 0 auto;
}

.not-found-alert {
    color: #404040;
}

.footer {
    background-color: hsl(0, 0%, 90%);
    height: 110px;
    bottom: 0;
    align-content: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;

    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    gap: 16px;
}

.logo:hover {
    transform: scale(1.05);
}

.load-more-btn {
    padding: 5px 8px;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Press start 2P";
    display: block;
    cursor: pointer;
    background-color: hsl(0, 100%, 59%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.load-more-btn:hover {
    color: hsl(59, 100%, 50%);
    background-color: hsl(288, 100%, 50%);
    transform: scale(1.2);
}

.switch-button {
    background-color: hsl(0, 0%, 90%);
    border: none;
    color: hsl(0, 0%, 1%);
    font-size: 16px;
    transition: all 0.3s ease;
}

.switch-button:hover {
    color: hsl(0, 0%, 100%); 
    transform: scale(1.3);
}

.type-bg-bug { background-color: #b7e75d !important; }
.type-bg-dark { background-color: #3f3127 !important; }
.type-bg-dragon { background-color: #636EBF !important; }
.type-bg-electric { background-color: #f7bf12 !important; }
.type-bg-fairy { background-color: #d37eff !important; }
.type-bg-fighting { background-color: #bb3b25 !important; }
.type-bg-fire { background-color: #ff4700 !important; }
.type-bg-flying { background-color: #8ac7f5 !important; }
.type-bg-ghost { background-color: #f5e9ff !important; }
.type-bg-grass { background-color: #68b354 !important; }
.type-bg-ground { background-color: #7a6245 !important; }
.type-bg-ice { background-color: #6dc0fa !important; }
.type-bg-normal { background-color: #a3a3a3 !important; }
.type-bg-poison { background-color: #0bb9a0 !important; }
.type-bg-psychic { background-color: #bf41ff !important; }
.type-bg-rock { background-color: #544e4e !important; }
.type-bg-steel { background-color: #4a5b75 !important; }
.type-bg-water { background-color: #3a9eff !important; }